body {
  padding: 12px;
}

.board-container {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #4d00e2;
}
.width-3 {
  width: 180px;
  height: 180px;
}
.width-4 {
  width: 240px;
  height: 240px;
}
.width-6 {
  width: 360px;
  height: 360px;
}
.width-10 {
  width: 600px;
  height: 600px;
}

.square {
  width: 60px;
  height: 60px;
}
.button-large,
.square {
  border: 2px solid #4d00e2;
  font-size: 40px;
  font-weight: 800;
  outline: none;
  box-sizing: border-box;
  text-align: center;
}
.button-large:hover,
.square:hover {
  background: #4d00e2;
  color: white;
  transition-duration: 250ms;
}
.button-large {
  display: inline-block;
  padding: 8px 24px;
}
.button-large,
.button,
.square {
  cursor: pointer;
}
.status {
  padding-top: 12px;
  font-size: 20px;
  font-weight: 600;
}
.board-container p {
  margin: 0;
}
